.c-legend-actions {
  $yellow-orange: #efa600;
  $dark-blue: #173554;

  display: flex;
  flex: 1;
  justify-content: flex-end;

  button {
    margin-left: 10px;

    .c-icon {
      fill: $dark-blue;
    }

    &.-active .c-icon {
      fill: $yellow-orange;
    }
  }
}
