.c-legend-choropleth {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    padding: 0;
    flex: 1;
  }

  .name {
    display: block;

    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .icon-choropleth {
    display: block;
    height: 5px;
    margin-bottom: 5px;
  }
}
