.c-legend-basic {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.horizontal {
      display: flex;

      li {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.vertical {
      li {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  > li {
    padding: 0;
  }
}
