.c-field {
  .label {
    font-size: 14px;
    display: block;
    position: relative;
    padding: 0 0 5px;
    color: black;
    font-weight: 700;
  }

  .hint {
    font-style: italic;
    padding: 0 0 5px;
    font-size: 12px;
    margin: 0;
  }

  .error {
    color: red;
    margin: 3px 0 0;
    font-size: 12px;
  }

  > input[type=text],
  > input[type=password],
  > input[type=email],
  > input[type=number],
  > input[type=tel],
  > input[type=date],
  > input[type=time],
  > input[type=url],
  > input,
  > textarea {
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    font-family: inherit;

    &:hover {
      border-color: gray;
    }
  }

  &.-valid {
    > input[type=text],
    > input[type=password],
    > input[type=email],
    > input[type=number],
    > input[type=tel],
    > input[type=date],
    > input[type=time],
    > input[type=url],
    > input,
    > textarea,
    > select,
    .Select-control,
    .ic-tokens {
      border-color: green;
    }
  }


  &.-error {
    > input[type=text],
    > input[type=password],
    > input[type=email],
    > input[type=number],
    > input[type=tel],
    > input[type=date],
    > input[type=time],
    > input[type=url],
    > input,
    > textarea,
    > select,
    .Select-control,
    .ic-tokens {
      border-color: red;
    }
  }
}

// TOKEN INPUT
.ic-tokeninput {
  display: inline-block;
}

.ic-tokeninput-list {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid #aaa;
  background: #fff;
  top: 100%;
  left: 0;
  padding: 5px 0px;
  max-height: 400px;
  overflow: auto;
  font-size: 12px;
  font-family: sans-serif;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ic-tokeninput-is-open .ic-tokeninput-list {
  display: block;
}

.ic-tokeninput-option:focus {
  outline: 0;
  color: white;
  background: hsl(200, 50%, 50%);
}

.ic-tokeninput-input {
  padding-right: 20px;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  outline: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: inherit;
  background-color: transparent;
}

.ic-token-label {
  line-height: 20px;
}

.ic-tokeninput-button {
  display: inline-block;
  position: absolute;
  cursor: default;
  outline: none;
  top: 2px;
  right: 6px;
  font-size: 14px;
  cursor: default;
}

.ic-tokeninput-button:active {
  color: #4095BF;
}

.ic-tokeninput-option {
  display: block;
  padding: 2px 16px;
  cursor: default;
}

.ic-tokeninput-selected:before {
  content: '✓';
  position: absolute;
  left: 4px;
}

.flex {
  /* 2009 */
  display: -webkit-box;
  display: -moz-box;
  /*display: box;*/

  /* 2011 */
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  /*display: flexbox;*/

  /* 2012 */
  display: -webkit-flex;
  display: flex;
}

.inline-flex {
  /* 2009 */
  display: -webkit-inline-box;
  display: -moz-inline-box;

  /* 2011 */
  display: -moz-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -o-inline-flexbox;

  /* 2012 */
  display: -webkit-inline-flex;
  display: inline-flex;
}

.ic-tokens {
  box-sizing: border-box;
  position: relative;
  list-style: none;
  padding: 0px 6px;
  border: 1px solid #A6A6A6;
  background-color: white;
  border-radius: 0px;
  cursor: text;
  position: relative;
  will-change: transform;
  flex-wrap: wrap;
  min-height: 36px;
  margin: 0;
  max-width: 420px;
}

.ic-tokens-disabled {
  border: 1px solid #CCCCCC;
  background-color: #eee;
  color: #eee;
  cursor: default;
  -moz-box-shadow:    inset 0 0 6px #ddd;
  -webkit-box-shadow: inset 0 0 6px #ddd;
  box-shadow:         inset 0 0 6px #ddd;
}

.ic-token {
  display: inline-flex;
  align-items: center;
  background-color: #F5F7F8;
  border: 1px solid #C1C7CF;
  color: #7C8E9A;
  border-radius: 0;
  max-height: 20px;
  padding: 0px 8px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.ic-token-delete-button {
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}

.ic-token-delete-button:hover {
  background-color: #ddd;
}

.ic-tokeninput {
  /* 2009 */
  display: -webkit-inline-box;
  display: -moz-inline-box;

  /* 2011 */
  display: -moz-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -o-inline-flexbox;

  /* 2012 */
  display: -webkit-inline-flex;
  display: inline-flex;
}

.ic-tokeninput-button {
  display: none;
}

.ic-tokeninput-loading {
  position: absolute;
  bottom: 9px;
  right: 2px;
  align-items: center;
  padding-right: 6px;
}

/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative;
  max-width: 420px;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 0px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
}
.is-searchable.is-open > .Select-control {
  cursor: text;
}
.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 14px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
